* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1160px;
    width: 80%;
    margin: 0 auto;
}
.header {
    height: 545px;
    background-color: #eeeeee;
    padding-top: 50px;
}
.header_wrapper .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_wrapper .nav .menu {
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header_wrapper .nav .menu .menu_item a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.header_wrapper .nav .basket {
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header_wrapper .nav .basket a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.header_wrapper .nav .basket i {
    color: #a6a6a6;
    font-size: 14px;
}
.header_wrapper .header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 63px;
}
.header_wrapper .main_text {
    display: flex;
    flex-direction: column;
}
.header_wrapper .main_text h2 {
    color: black;
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 45px;
}
.header_wrapper .main_text p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 45px;
    line-height: 25px;
}
.header_wrapper .main_text .header_button {
    border: 0;
    cursor: pointer;
    background-color: #fb565a;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    width: 240px;
    height: 50px;
    border-radius: 3px;
}
.header_wrapper .main_text .header_button:hover {
    background-color: #0066ae;
}