* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1160px;
    width: 80%;
    margin: 0 auto;
}
.header {
    height: 545px;
    background-color: #eeeeee;
    padding-top: 50px;
}
.header_wrapper .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_wrapper .nav .menu {
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header_wrapper .nav .menu .menu_item a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.header_wrapper .nav .basket {
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header_wrapper .nav .basket a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.header_wrapper .nav .basket i {
    color: #a6a6a6;
    font-size: 14px;
}
.header_wrapper .header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 63px;
}
.header_wrapper .main_text {
    display: flex;
    flex-direction: column;
}
.header_wrapper .main_text h2 {
    color: black;
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 45px;
}
.header_wrapper .main_text p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 45px;
    line-height: 25px;
}
.header_wrapper .main_text .header_button {
    border: 0;
    cursor: pointer;
    background-color: #fb565a;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    width: 240px;
    height: 50px;
    border-radius: 3px;
}
.header_wrapper .main_text .header_button:hover {
    background-color: #0066ae;
}
.main .features {
    height: 510px;
}
.main .features .features_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;
}
.main .features .features_wrapper .feature_item {
    display: flex;
    flex-direction: column;
}
.main .features .features_wrapper .feature_item h3 {
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main .features .features_wrapper .feature_item p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 25px;
}
.main .features .features_wrapper .feature_item .feature_button_1 {
    border: 0;
    cursor: pointer;
    background-color: #fb565a;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    width: 160px;
    height: 50px;
    border-radius: 3px;
}
.main .features .features_wrapper .feature_item .feature_button_1:hover {
    box-shadow: 0 0 20px #fb565a;
}
.main .features .features_wrapper .feature_item .feature_button_2 {
    border: 0;
    cursor: pointer;
    background-color: #00ca74;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    width: 160px;
    height: 50px;
    border-radius: 3px;
}
.main .features .features_wrapper .feature_item .feature_button_2:hover {
    box-shadow: 0 0 20px #00ca74;
}
.main .features .features_wrapper .feature_item .feature_button_3 {
    border: 0;
    cursor: pointer;
    background-color: #efc84a;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    width: 160px;
    height: 50px;
    border-radius: 3px;
}
.main .features .features_wrapper .feature_item .feature_button_3:hover {
    box-shadow: 0 0 20px  #efc84a;
}
.main hr {
    width: 80%;
    margin: 0 auto;
    border: 0;
    height: 2px;
    color: #eeeeee;
    background-color: #eeeeee;
}
.about {
    height: 525px;
}
.about .about_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about .about_wrapper .about_text {
    padding-top: 80px;
}
.about .about_wrapper .about_text h2 {
    color: black;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 35px;
}
.about .about_wrapper .about_text h5 {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}
.about .about_wrapper .about_text h3 {
    color: black;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.about .about_wrapper .about_text .about_text_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.about .about_wrapper .about_text .about_text_list .line {
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    margin-right: 10px;
}
.about .about_wrapper .about_text .about_text_list p {
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.about .about_wrapper .about_pic {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
}
.about .about_wrapper .about_pic h4 {
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 40px;
}
.about .about_wrapper .about_pic .about_pic_per {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
    width: 360px;
}
.about .about_wrapper .about_pic .about_pic_per .about_per_item {
    width: 110px;
}
.about .about_wrapper .about_pic .about_pic_per h2 {
    color: black;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.about .about_wrapper .about_pic .about_pic_per p {
    color: black;
    font-weight: 400;
    font-size: 16px;
}
.credits {
   height: 180px;
   display: flex;
   align-items: center;
}
.credits .credits_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.map {
    position: relative;
}
.map iframe {
    padding-top: 80px;
}
.map .map_text {
    position: absolute;
    top: 160px;
    left: 180px;
    width: 320px;
    height: 310px;
    background-color: white;
}
.map .map_text h3 {
    color: black;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 55px;
    margin-left: 50px;
}
.map .map_text p {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    margin-left: 50px;
    padding-top: 20px;
}
.map .map_text .map_button {
    border: 0;
    cursor: pointer;
    background-color: #fb565a;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    width: 220px;
    height: 50px;
    border-radius: 3px;
    margin-left: 50px;
    margin-top: 35px;
}
.footer {
    height: 215px;
}
.footer .footer_wrapper {
    height: 215px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer .footer_wrapper .socials {
    display: flex;
    flex-direction: row;
    width: 260px;
    justify-content: space-between;
}
.footer .footer_wrapper .socials .socials_item {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #e1e1e1;
    border-radius: 50%;
    text-align: center;
}
.footer .footer_wrapper .socials a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.footer .footer_wrapper .footer_text {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
}
.footer .footer_wrapper .footer_text h2 {
    color: black;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}
.footer .footer_wrapper .footer_text p {
    color: #444444;
    font-weight: 400;
    font-size: 16px;
}